.start-pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1c1b6b;
}

.start-pages .user-info{
    display: flex;
    align-items: center;
}

.start-pages .user-info .fullname{
    margin-right: 7px;
}

.user-type{
    opacity: 50%;
    color: black;
}

hr{
    margin-top: 10px;
}

.input-fields{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 15px;
    margin: 5px 0;
}

.search_field{
    width: 25rem;
    height: 3rem;
    margin: 12px 0;
    outline: none;
    background-color: #D9D9D9;
    border-radius: 15px;
    display: grid;
    padding: 0 .5rem;
    transition: 0.3s;
    border: 2px solid transparent;
}

.search_field:hover{
    border-color: #1c1b6b;
}

input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    text-transform: uppercase;
}

input:hover{
    border-color: #1c1b6b;
}