.add-register_form{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}


.labels{
    font-weight: bold;
    font-size: 20px;
    opacity: 80%;
}

.inputs{
    width: 22rem;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    outline: none;
    border-style: none;
    border-radius: 15px;
    background-color: #d9d9d9;
    transition: 0.3s ease;
    border: 2px solid transparent;
}

.inputs:hover{
    border-color: #1c1b6b;
}

.inputs input{
    background: none;
    border: none;
    outline: none;
    width: 20rem;
    line-height: 1;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 10px;
}

.action-buttons{
    width: 100%;
    display: flex;
    justify-content: end;
}

.action-buttons #save-button,
.action-buttons #cancel-button{
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.250);
    margin-left: 15px;
    transition: 0.3s all ease;
}

.action-buttons #save-button{
    background-color: #1c1b6b;
}

.action-buttons #save-button:hover{
    background-color: #1d1c57;
}

.action-buttons #cancel-button{
    background-color: #C32121;
}

.action-buttons #cancel-button:hover{
    background-color: #9e2d2d;
}

.action-buttons #save-button i,
.action-buttons #cancel-button i
{
    font-size: 20px;
    margin: 0 10px 0 0;
}





/* .input-fields{
    height: 45px;
    background-color: #D9D9D9;
    margin: 5px 0;
    border-radius: 15px;
    display: grid;
    padding: 0 .5rem;
    transition: 0.3s;
    border: 2px solid transparent;
}

.input-fields:hover{
    border-color: #1c1b6b;
} */

/* .input-fields input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    text-transform: uppercase;
} */

/* .input-field-selector:hover{
    border-color: #1c1b6b;
} */